body{
	background:url(https://zero1.sg/img/accountlogin-icon.png);
	background-repeat: no-repeat;
	margin: 150px;
   
}

form{
	background:20px  white;
	padding 50px;
	max-width:480px;
	max-height: 640px;
	width:80%;
	height: 40%;
	margin:50px auto;



	

}
h1{
	padding:20px;
	margin:60px auto ;
	text-align: center;

}
.completed{
	margin:30px;
	padding: 10px 20px;
	border:2px dodgerBlue;
	/*border-radius: 50px;*/
	font-family: "Montserrat",san,serif;
	
}
.jump{
	padding:10px 20px;
	margin:30px ;
	font-family: "Montserrat",san,serif;

}
.high{
	padding: -35px;
	margin: 50px ;
	color: #fff;
	text-align: center;

}
/*.highjump{
	background:url(https://t4.ftcdn.net/jpg/00/31/33/13/240_F_31331324_bqXgqwmlnnXaOeXwFv8CrO6oMHpAKPum.jpg);
}*/
input{
	padding: 5px 10px;
	font-size: 15px;
	border-radius: 50px;
	border-color: #85C1E9;
}
button{
	color: white;
	background: #1F618D  ;
	/*border:9px #DADADA solid;*/
	padding: 5px 40px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 10pt;
	outline: none;

}
/*button:hover{
	border:1px #C6C6C6 solid;
	box-shadow: 1px 1px 1px #EAEAEA;
	color: #333333;
	background: #F7F7F7;
}
button:active{
	box-shadow: inset 1px 1px 1px #DFDFDF;
}
button.blue:hover{
	border:2px #1B4F72 solid;
	box-shadow: 0 1px 1px #EAEAEA,inset 0 1px 0 #5A94F1;
	background: #3F83F1;
}
button.blue:active{
	box-shadow: inset 0 2px 5px #2370FE;
}


}*/